<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=tjzw2dqshwkmwwindsvm;AccountKey=/Pw3urkHBTmObJiNsaa2vG6cfcccusyJv0xiSO1WWuKxryM9DBPA8y55FXn/8ZxZaD20NQtGQKan36DPjW7oMQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>